div.dropdown-menu.open {
    overflow: visible !important;
}

div.nav {
	color: #FFFFFF;
}
div p.search-content {
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
    text-justify: inter-word;
    font-size: 75%;
}

div form.search-form {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
    font-size: 60%;
    background-color: #E3E3E6;
    height: 70px;
}

div form.search-form  button{
	font-family: Arial, Helvetica, sans-serif;
}

div ul.list-group{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60%;
}

div ul.list-group a{
	color: #2eaaa8;
}

div.resources-content{
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
    text-justify: inter-word;
    font-size: 75%;
}

div.details {
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
    text-justify: inter-word;
    font-size: 60%;
}

div.details a {
	color:  #2eaaa8;
}
