body{
    padding-top: 4%;
    height: auto !important;
    overflow: auto;
}

.title{
    background-color: #f3775e;
    height: 125px;
    text-align: center;

}
.container{
    padding-top: 0.5%;
    /*height: 750px;*/
    height: auto !important;
}

.mainBody{
    height: auto !important;
    overflow: hidden;
    padding-bottom: 20%;
}
.mainBody:before, .mainBody:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.mainBody:after {
    clear: both;
}

#showUploadForm{
    height: 600px;
}

#welcome{
    font-size: 300%;
    padding-top: 2%;
    color: #F0F0F0;
}

/*Styles matching Irongate DQP website*/
footer {
    background: #2eaaa8;
    text-align: center;
    color: white;
    font-size: 12px;
    height: 90px;
    /*padding-top: 28px;*/
}

#lumina-logo {
    background: url("../img/sprite.png") no-repeat scroll -467px -17px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 34px;
    width: 113px;
    text-indent: -9999px;
    clear: both;
    text-align: center;
    color: #ffffff;
}

/*#niloa-logo {
    color: white;
    text-align: center;
}*/
/*202 × 35*/
/*img{
    width:20px; *//* you can use % *//*
    height: auto;
}*/
#niloa-logo {
    background: url("../img/NILOA-logo-white.png") no-repeat left top;
    background-size: 202px 35px;
    display: inline-block;
    height: 35px;
    width: 201px;
    text-indent: -9999px;
    clear: both;
    margin-top: 7px;
    text-align: center;
}

#indexNav{
    background-color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #2eaaa8;
}

.customFileInput{
    width: 65%;
}
 
a {
    color:  #2eaaa8;
}

.assignment-details {
    float: left;
    color: #f3775e;
}

.bordered {
    font-weight:normal !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #D8D8D8;
    width: 100%;
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.download-assignment {
     background:none!important;
     border-style: solid;
     border-width: 1px;
     border-radius: 2px;
     border-color: #D8D8D8;
     width: 100%;
     padding-left: 5px;
     padding-right: 2px;
     padding-top: 1px;
     padding-bottom: 1px;
     font: inherit;
     text-align:left;

     cursor: pointer;
     color:#2eaaa8;
}

.assignment-spacing {
    display:inline-block; 
    width: 1em;
}

.primary_tag {
    list-style-type: none;
}
/*Responsive editor for upload files*/
#editor{
    width: 100% !important;
}
/*Responsive editor for upload files*/


/* Style for navbar for small screen devices */
button.navbar-toggle{
    background-color: #f3775e;
}

span.icon-bar{
    background-color: #ffffff;
}

@media (min-width: 768px) and (max-width: 920px){
    #indexNav{
        /*padding-left: 8%;*/
        padding-left: 0;
        font-size: 86%;
    }
}
@media (min-width: 921px) and (max-width: 1050px){
    #indexNav{
        /*padding-left: 8%;*/
        padding-left: 8%;
        /*font-size: 90%;*/
    }
}

@media (min-width: 0px) and (max-width: 767px){
    #indexNav{
        padding-left: 2%;
    }

    #welcome {
        font-size: 250%;
        padding-top: 7%;
    }
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* Styling for the home page */

#peer-review {
	padding: 10px 10px 10px 10px;
	border: 2px solid;
}

#landing-content {
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
    text-justify: inter-word;
    font-size: 100%;
}

.justified {
    align: justify;
}

.footer-content {
    color: #F0F0F0;
}

.footer-section {
    float: left;
    width: 25%;
    height: 100%;
}

#footer-1 {
    float: left;
}

#footer-2 {
    float: left;
    margin-left: 10%;
}

#footer-3 {
    float: right;
}
