body{
    padding-top: 4%;
    height: auto !important;
    overflow: auto;
}

.title{
    background-color: #f3775e;
    height: 125px;
    text-align: center;

}
.container{
    padding-top: 0.5%;
    /*height: 750px;*/
    height: auto !important;
}

.mainBody{
    height: auto !important;
    overflow: hidden;
    padding-bottom: 20%;
}
.mainBody:before, .mainBody:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.mainBody:after {
    clear: both;
}

#showUploadForm{
    height: 600px;
}

#welcome{
    font-size: 300%;
    color: #F0F0F0;
    vertical-align: middle;
    padding-top:3%;
}

/*Styles matching Irongate DQP website*/
footer {
    background: #2eaaa8;
    text-align: center;
    color: white;
    font-size: 12px;
    height: 90px;
    /*padding-top: 28px;*/
}

#lumina-logo {
    background: url("../img/sprite.png") no-repeat scroll -467px -17px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 34px;
    width: 113px;
    text-indent: -9999px;
    clear: both;
    text-align: center;
    color: #ffffff;
}

/*#niloa-logo {
    color: white;
    text-align: center;
}*/
/*202 × 35*/
/*img{
    width:20px; *//* you can use % *//*
    height: auto;
}*/
#niloa-logo {
    background: url("../img/NILOA-logo-white.png") no-repeat left top;
    background-size: 202px 35px;
    display: inline-block;
    height: 35px;
    width: 201px;
    text-indent: -9999px;
    clear: both;
    margin-top: 7px;
    text-align: center;
}

#indexNav{
    background-color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #2eaaa8;
}

.customFileInput{
    width: 65%;
}
 
a {
    color:  #2eaaa8;
}

.assignment-details {
    float: left;
    color: #f3775e;
}

.details-display {
    font-weight:normal !important;
    width: 100%;
}

.assignment-spacing {
    display:inline-block; 
    width: 1em;
}

.primary_tag {
    list-style-type: none;
}
/*Responsive editor for upload files*/
#editor{
    width: 100% !important;
}
/*Responsive editor for upload files*/


/* Style for navbar for small screen devices */
button.navbar-toggle{
    background-color: #f3775e;
}

span.icon-bar{
    background-color: #ffffff;
}

@media (min-width: 768px) and (max-width: 920px){
    #indexNav{
        /*padding-left: 8%;*/
        padding-left: 0;
        font-size: 86%;
    }
}
@media (min-width: 921px) and (max-width: 1050px){
    #indexNav{
        /*padding-left: 8%;*/
        padding-left: 8%;
        /*font-size: 90%;*/
    }
}

@media (min-width: 267px) and (max-width: 767px){
    #indexNav{
        padding-left: 2%;
    }

    #welcome {
        font-size: 232%;
        padding-top: 11%;
    }
}

@media (min-width: 0px) and (max-width: 267px){
    #welcome {
        font-size: 151%;
        padding-top: 31%;
    }
}

@media (min-width: 768px){
    #mobilemenu{
        display: none;
    }
}

.lowresolution {
    display: block;
    visibility: visible;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.menuStyle {
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #2eaaa8;
    border: 1px solid #FFF;
    cursor: pointer;
}


@media (min-width: 0px) and (max-width: 767px) {
.ulstyle {
    list-style-type: none;
    border: 2px solid #ddd;
    border-top-width: 0;
    text-align: right;
    padding:0;
}
}

/* Styling for the home page */

#peer-review {
	padding: 10px 10px 10px 10px;
	border: 2px solid;
}

#landing-content {
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
    text-justify: inter-word;
    font-size: 100%;
}

.justified {
    align: justify;
}

.footer-content {
    color: #F0F0F0;
}

.footer-section {
    float: left;
    width: 25%;
    height: 100%;
}

#footer-1 {
    float: left;
}

#footer-2 {
    float: left;
    margin-left: 10%;
}

#footer-3 {
    float: right;
}

@media (min-width: 0px) and (max-width: 767px) {
    .removefooter {
        display: none;
}
}

/* Styling for the tag listings page */

#search-assignments {
    align-content: center;
}

.search-content {
    text-align: center;
}

.whiteback {
    text-align: center;    
    background-color: #ffffff;
}
