body{
    padding-top: 4%;
    height: auto !important;
    overflow: auto;
}

.title{
    background-color: #f3775e;
    height: 125px;
    text-align: center;

}
.container{
    padding-top: 0.5%;
    /*height: 750px;*/
    height: auto !important;
}

.mainBody{
    height: auto !important;
    overflow: hidden;
    padding-bottom: 20%;
}
.mainBody:before, .mainBody:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.mainBody:after {
    clear: both;
}

#showUploadForm{
    height: 600px;
}

#welcome{
    font-size: 300%;
    padding-top: 2%;
    color: white;

}

/*Styles matching Irongate DQP website*/
footer {
    background: #2eaaa8;
    text-align: center;
    color: white;
    font-size: 12px;
    height: 90px;
    /*padding-top: 28px;*/
}

#lumina-logo {
    background: url("../img/sprite.png") no-repeat scroll -467px -17px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 34px;
    width: 113px;
    text-indent: -9999px;
    clear: both;
    text-align: center;
    color: #ffffff;
}

/*#niloa-logo {
    color: white;
    text-align: center;
}*/
/*202 × 35*/
/*img{
    width:20px; *//* you can use % *//*
    height: auto;
}*/
#niloa-logo {
    background: url("../img/NILOA-logo-white.png") no-repeat left top;
    background-size: 202px 35px;
    display: inline-block;
    height: 35px;
    width: 201px;
    text-indent: -9999px;
    clear: both;
    margin-top: 7px;
    text-align: center;
}

.footerLink{
    color: white;
}

#indexNav{
    background-color: white;
    padding-left: 24%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #2eaaa8;
}

/*Styles matching Irongate DQP website*/
.customFileInput{
    width: 65%;
}
 
a {
    color:  #2eaaa8;
}

.assignment-details {
    float: left;
    color: #f3775e;
}

label.assignment-desc {
    font-weight:normal !important;
}

.assignment-spacing {
    display:inline-block; 
    width: 1em;
}

.primary_tag {
    list-style-type: none;
}