<div class="jumbotrona" id="showUploadForma" ng-controller="assignmentUpdateController">
    <br>
        <div class="col-sm-12 form-group">
            <label for="name">Name</label>
            <input type="text" ng-model="assignment.name" class="form-control " id="name">
        </div>

        <div class="col-sm-12 form-group">
            <label for="author">Author</label>
            <input type="text" ng-model="assignment.author" class="form-control " id="author">
        </div>

        <div class="col-sm-12 form-group">
            <label for="citation">Citation</label>
            <textarea class="form-control" ng-model="assignment.citation" id="citation" rows="1"></textarea>
        </div>

        <div class="col-sm-12 form-group">
            <label for="editor">Description</label>
            <textarea ng-model="assignment.description" id="editor"></textarea>
        </div>

        <div class="col-md-12 form-group">
            <label for="jqxComboBoxSecondary">Select Tags</label>
            <div ng-model="assignment.tags" style="margin-top: 5px;" id='jqxComboBoxSecondary'></div>
        </div>

        <div style="margin-top: 10px; font-size: 13px; font-family: Verdana; display: none" id="log"></div>

        <div class="col-sm-12">
            <label for="inputFile">Select Assignment</label>
            <div class="fileinput fileinput-new input-group customFileInput" data-provides="fileinput">
                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="..." id="inputFile" ng-file-select="onFileSelect($files)"></span>
                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
        </div>

        <div ng-show="displayRubric" class="col-sm-12">
            <label>Update Rubrics by selecting one or more below (Optional)</label>
            <div ng-repeat="rubric in assignment.rubricsData">
                <input type="checkbox" name="rubrics[]" ng-click="toggleRubricSelection(rubric.name)"> {{rubric.name}}
            </div>
        </div>

        <div class="col-sm-12" style="padding-bottom: 1%">
            <br/>
            <label for="inputRubric">Select Rubrics (Optional - Maximum 4)</label>
            <input type="file" id="inputRubric" ng-file-select="onRubricSelect($files)" name="files[]" multiple>
        </div>

        <div class="col-sm-12">
            <button class="btn btn-primary" ng-click="startUpload()">Update</button>
            <a class="btn btn-default" href="/">Cancel</a>
        </div>
    </div>
</div>