<div class="container" ng-controller="AssignmentDetailsController">
	<div>
		<label class="assignment-details">NAME:<span class="assignment-spacing"></span></label> 
		<label class="assignment-desc">{{assignmentDetails.name}}</label></br>
	</div>
	</br>
	<div>
		<label class="assignment-details">AUTHOR:<span class="assignment-spacing"></span></label> 
		<label class="assignment-desc"> {{assignmentDetails.author}}</label></br>
	</div>
	</br>
	<div>
		<label class="assignment-details">CITATION:<span class="assignment-spacing"></span></label>
		<label class="assignment-desc"> {{assignmentDetails.citation}}</label></br>
	</div>
	</br>
	<div>
		<label class="assignment-details">DESCRIPTION:<span class="assignment-spacing"></span></label></br>
		<div class="assignment-desc" ng-bind-html="description"></div></br>
	</div>
	</br>
	<div>
		<button ng-click="open()" class="btn btn-primary">Download Assignment Only</button>
	</div>
    </br>
    <div ng-show="assignmentDetails.rubricsData" class="rubrics">
        <span ng-repeat="rubric in assignmentDetails.rubricsData">
            <a href="{{rubric.url}}" class="btn btn-primary">Rubric: {{rubric.name}}</a>
        </span>
        </br>
    </div>
</div>
