<div class="container landing">
    <div class="landing-content">
        <p>
            The purpose of this website is to provide a searchable online library of collegiate-level course assignments
            in a wide variety of academic disciplines that link to one or more proficiencies in the <a
                href="http://www.degreeprofile.org/" target="_blank">Degree Qualifications Profile (DQP)</a>.
        </p>

        <p>
            The <a href="http://www.learningoutcomeassessment.org/" target="_blank">National Institute for Learning
            Outcomes Assessment (NILOA)</a> has been working with groups of faculty from various institutions to revise
            and strengthen assignment alignment to specific proficiencies. The assignments and commentaries here are
            works in progress, generously shared by faculty members from a wide range of fields and institutional types
            committed to advancing and documenting student learning. To learn more about the assignment library
            initiative click <a href="/uploaded/files/DQP%20assign%20library%20proof.pdf" target="_blank">here</a>. To
            see a list of advisors to the project click <a
                href="/uploaded/files/NILOA%20Assignment%20Library%20Advisors%20doc.pdf"
                target="_blank">here</a>.
        </p>
        <div class="col-lg-6">

        <p>
            This library allows you to:
        </p>
        <ul>
            <li>Browse assignments</li>
            <li>Borrow and adapt an assignment to fit your needs</li>
            <li>Submit an assignment to the library</li>
            <li>Consult a resource</li>
            <li>Comment on and ask questions about assignments</li>
            <li>Start a conversation on your own campus</li>
            <li>Give us feedback!</li>
        </ul>
        </div>
        <div class="col-lg-6" style="border: 2px solid">
            <p><b>DQP Assignment Library: The Peer Review Process</b></p>

            <p align="justify">The materials in the DQP Assignment Library have gone through a three-stage review process.  The first stage of review is undertaken by the NILOA project team, which makes decisions about whether to accept the submission or not.  Those selected for a second stage of review are then shared with three to six faculty peers, typically from the same or related fields, who have experience with assignment design; their role is to provide written feedback and suggestions for revision.  After making revisions, authors resubmit their materials to NILOA, where they pass through a final review--to make sure that all required elements are included, and minor copy editing as needed.  The finished materials are then published to the site.</p>

            <p align="justify">We recognize, however, that assignment design is an iterative process, and we expect that many of the materials posted here will undergo further revision and improvement.  Authors are encouraged to submit updated versions of their materials and to continue reporting how the assignment is being used in their classrooms.</p>
        </div>
        <br/>

        <div class="row container" >
            <p style="margin-top: 15px"><b>Announcement!</b> Currently accepting applications for the Assignment Charrette to take place on February 20, 2016 in New Orleans, LA. To learn more about the application process click <a href="/uploaded/files/Charrette_Call_Feb_2016_ph.pdf" target="_blank">here.</a></p>
        </div>
        <!--<h3 style="color: #f3775e">Announcements</h3>-->
        <!--<ul>-->
            <!--<li>Announcement! Currently accepting faculty applications for the Assignment Charrette to take place on-->
                <!--March 9, 2015 in Boulder, Co. To learn more about the application process click <a href="/uploaded/files/Charrette Call.pdf" target="_blank">here</a>.-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</div>
