<div class="container">
	<div class="resources-content">
		<p>Below you will find resources for building, revising, and using assignments.</p>
	</div>
	<div class="details">
		<ul>
			<li>A Library of DQP Assignments:<a href="https://dl.dropboxusercontent.com/u/44789714/Assignment%20one%20pager%201-13-14%20-%20to%20post.pdf" target="_blank">Building Capacity for a New Model of Assessment</a></li>
			<li>The Lumina Degree Qualifications Profile (DQP): <a href="http://www.learningoutcomesassessment.org/documents/EwellDQPop1.pdf" target="_blank">Implications for Assessment</a></li>
			<li>Catalyzing Assignment Design Activity on Your Own Campus: Lessons From NILOA’s Assignment Library Initiative</li>
			<li>Click <a href="https://dl.dropboxusercontent.com/u/44789714/Assignment%20resource%20list%20-%20to%20post%20as%20pdf.docx" target="_blank">here</a> for a list of articles, books, and other assignment resources</li>
			<li>Characteristics of meaningful assignments developed by faculty participants</li>
			<li><a href="https://dl.dropboxusercontent.com/u/44789714/NILOA%20Assignment-Design%20Charrette%20Feedback%20Sheet.doc" target="_blank">Sample assignment feedback form for faculty participants</a></li>
		</ul>
	</div>
</div>