<div class="container">
    <div class="resources-content">
        <p>Below you will find resources for building, revising, and using assignments.</p>
    </div>
    <div class="details">
        <ul>
            <li>
                <a href="/uploaded/files/DQP%20assign%20library%20proof.pdf" target="_blank">
                    A Library of DQP Assignments: Building Capacity for a New Model of Assessment
                </a>
            </li>
            <li>
                <a href="http://www.learningoutcomesassessment.org/documents/EwellDQPop1.pdf" target="_blank">
                    Ewell, P. (2013, January). The Lumina Degree Qualifications Profile (DQP): Implications for
                    Assessment.
                    (Occasional Paper No. 16). Urbana, IL: University of Illinois and Indiana University, National
                    Institute for Learning Outcomes Assessment
                </a>
            </li>
            <li>
                <a href="http://learningoutcomesassessment.org/niloaassignmentlibrary.htm" target="_blank">
                    Catalyzing Assignment Design Activity on Your Own Campus: Lessons From NILOA’s Assignment Library
                    Initiative
                </a>
            </li>
            <li>Click
                <a href="/uploaded/files/Assignment_Resources.pdf" target="_blank">here</a>
                for a list of articles, books, and other assignment resources
            </li>
            <li>
                <a href="uploaded/files/Faculty%20Charrette%20Participant%20List%20of%20Other%20Desirable%20Characteristics%20of%20Assignments%20doc.pdf"
                   target="_blank">
                    Characteristics of meaningful assignments developed by faculty participants
                </a>
            </li>
            <li>
                <a href="/uploaded/files/NILOA_Assignment_Design_Charrette_Feedback_Sheet.pdf" target="_blank">
                    Sample assignment feedback form for faculty participants
                </a>
            </li>
            <li>
                <a href="/uploaded/files/Questions_to_Ask_About_an_Assignment.pdf" target="_blank">
                    Assignment Design: Questions for Reflection and Conversation
                </a>
            </li>
            <li>To watch the webinar on Assignment Design by Pat Hutchings and Natasha Jankowski from December 17, 2014,
                please click
                <a href="http://www.learningoutcomesassessment.org/Presentations/Faculty_and_Assignments_The_%20Heart_of_Assessment.wmv"
                   target="_blank">here</a>.
                PowerPoint slides can be found
                <a href="http://www.learningoutcomesassessment.org/Presentations/Assignment_Design.pdf" target="_blank">here</a>
            </li>
            <li>
                <a href="http://www.educause.edu/ero/article/libraries-enablers-pedagogical-and-curricular-change"
                   target="_blank">
                    Libraries as Enablers of Pedagogical and Curricular Change
                </a>
            </li>
            <!--<li>Announcement! Currently accepting applications for the Assignment Charrette to take place on February
                20, 2016 in New Orleans, LA. To learn more about the application process click
                <a href="/uploaded/files/Charrette_Call_Feb_2016_ph.pdf" target="_blank">here</a>
            </li>-->
            <li>
                <a href="https://www.aacu.org/faculty" target="_blank">
                    Information on the Faculty Collaboratives project
                </a>
            </li>
            <li>
                <a href="https://www.aacu.org/peerreivew/2014/summer/berg" target="_blank">
                    Article on the Quality Collaborative to Assess Quantitative Reasoning: Adapting the LEAP VALUE
                    Rubric and the DQP
                </a>
            </li>
            <li>
                <a href="http://www.esa.org/tiee/" target="_blank">
                    Peer reviewed publication of educational materials
                </a>
            </li>
            <li>Online Science Game Center:
                <ul>
                    <li><a href="http://www.sciencegamecenter.org/">Science Game Center</a></li>
                    <li><a href="http://www.sciencemuseum.org.uk/online_science/games.aspx">Science Museum</a></li>
                    <li><a href="http://www.physicsgames.net/">Physics Games</a></li>
                </ul>
            </li>
            <li>
                <a href="http://www.aacu.org/stirs/casestudies">From AAC&U: Case-study assignments
                and facilitator guides exemplifying the Scientific Thinking and Integrative Reasoning Skills (STIRS)
                framework, which focuses on evidence-based problem-solving and decision-making</a>
            </li>
        </ul>
    </div>
</div>
