<div class="container">
	<div class="resources-content">
		<p>Below you will find resources for building, revising, and using assignments.</p>
	</div>
	<div class="details">
		<ul>
			<li><a href="/uploaded/files/DQP%20assign%20library%20proof.pdf" target="_blank">A Library of DQP Assignments: Building Capacity for a New Model of Assessment</a></li>
			<li><a href="http://www.learningoutcomesassessment.org/documents/EwellDQPop1.pdf" target="_blank">Ewell, P. (2013, January). The Lumina Degree Qualifications Profile (DQP): Implications for Assessment. (Occasional Paper No. 16). Urbana, IL: University of Illinois and Indiana University, National Institute for Learning Outcomes Assessment</a></li>
			<li>Forthcoming: Catalyzing Assignment Design Activity on Your Own Campus Lessons From NILOA’s Assignment Library Initiative</li>
			<li>Click <a href="/uploaded/files/Assignment%20resource%20list.pdf" target="_blank">here</a> for a list of articles, books, and other assignment resources</li>
			<li><a href="uploaded/files/Faculty%20Charrette%20Participant%20List%20of%20Other%20Desirable%20Characteristics%20of%20Assignments.pdf" target="_blank">Characteristics of meaningful assignments developed by faculty participants</a></li>
			<li><a href="/uploaded/files/NILOA%20Assignment-Design%20Charrette%20Feedback%20Sheet.pdf" target="_blank">Sample assignment feedback form for faculty participants</a></li>
		</ul>
	</div>
</div>