<div class="container" ng-controller="TagsController">
    <div ng-hide="dataLoaded" style="text-align:center">
        Loading...
    </div>
    <div ng-show="dataLoaded">
        <div ng-hide="displayTable" style="text-align:center">
            <p>There are no assignments that are currently associated with this search!</p>
        </div>
        <div class="table-div" ng-show="displayTable">
            <p style="text-align: justify">
                Browsing the library returns two areas of information, the name and tags of each assignment. Each
                assignment has been given a title that relates to the focus of the assignment.
                Clicking on the title takes users to a description of the assignment along with background information,
                context, and reflections on each faculty designed assignment. Downloadable assignments, along with
                rubrics and supporting information, are available on the assignment description page. Please note –
                each assignment has a citation on the description page and we ask that if you use the assignment you
                cite it as such.
            </p>

            <p style="text-align: justify">
                Each assignment has also been tagged with multiple search keywords. The tags column identifies the
                various keywords that an assignment is linked to, allowing for additional narrowing to specific
                assignments of interest. Included in the tags are the DQP proficiencies connected to an assignment,
                the degree and course level of the assignment, and academic disciplines and assignment characteristics
                descriptors.
            </p>
            </br>
            </br>
            <table class="table" border="1" style="width:100%">
                <tr>
                    <td align="center"><label>Name</label></td>
                    <td align="center"><label>Tags</label></td>
                </tr>
                <tr ng-repeat="assignment in assignments">
                    <td align="center">
                        <a href="/#/assignments/{{assignment._id}}">
                            {{assignment.name}}
                        </a>
                    </td>
                    <td align="center">
                        <li ng-repeat="tag in assignment.tags" style="list-style-type: none">
                            {{tag}} </br>
                        </li>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>