<div class="container" ng-controller="TagsController">
	<table class="table" border="1" style="width:100%">
        <tr>
            <td align="center"><label>Name</label></td>
            <td align="center"><label>Assignment Type</label></td>
            <td align="center"><label>Tags<label></td>
        </tr>
   			<tr ng-repeat="assignment in assignments">
        		<td align="center">
        			<a href="#/assignments/{{assignment._id}}">
        				{{assignment.name}}
        			</a>
        		</td>
                <td align="center">
                        {{assignment.assignment_type}}
                </td>
                <td align="center">
                    <li ng-repeat="tag in assignment.tags">
                        {{tag}} </br>
                    </li>
                </td>
    		</tr>
    </table>
</div>